* {
  box-sizing: border-box;
}

.lid-content {
  grid-template-columns: 0.2fr 1fr 1fr 1fr 0.2fr;
  display: grid;
  position: relative;
  height: 100vh;
  
}

.lid {
  display: grid;
  grid-column: 2/5;
  grid-template-columns: 2fr 2fr 2fr;
  border-radius: 5px;
  margin-bottom: 10rem;
}

.lid1 {
  min-height: 10rem;
  grid-column: 1;
  margin: 1rem;
  padding: 0.5rem;
  height: 40%;
  border-radius: 4px;
  background-color: white;
}

.lid2 {
  min-height: 10rem;
  grid-column: 2;
  margin: 1rem;
  padding: 0.5rem;
  height: 40%;
  border-radius: 4px;
  background-color: white;
}

.lid3 {
  min-height: 10rem;
  grid-column: 3;
  margin: 1rem;
  padding: 0.5rem;
  height: 40%;
  border-radius: 4px;
  background-color: white;
}
